h3{
    color:Green;
}

.first_div{
    
    border-style: dotted;
    border-color:rgb(30, 114, 210);
    width: 100%;
    height: 40%;
    color: black;
}

#Third_div{
    
    border-style: solid;
    border-color: chocolate;
    width: 100%;
    height: 40%;
    color: black;
    
}