h3{
    color:Green;
};

.start_div{
    border-color: aqua;
    width: 100%;
    height: 30%;
    
};

#Third_div{
    border-color: chocolate;
    width: 100%;
    height: 30%;
    color: chartreuse;
    border-style: solid;
};